# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub-cache/
build/
.ios/
.android/
.idea/
.metadata
*.iml

# Android related
.gradle/
local.properties
**/captures/
**/gradlew
**/gradlew.bat
**/gradle-wrapper.jar

# Keystore and sensitive files
key.properties
*.jks

# Misc
bash.exe.stackdump
