<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325735986053-0ppu9lirruoa3qqilv1kaqs4ej703pqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325735986053-0ppu9lirruoa3qqilv1kaqs4ej703pqu</string>
	<key>API_KEY</key>
	<string>AIzaSyDpOnk9uGN8bVi69K2pjVlH8JB0DgLuo68</string>
	<key>GCM_SENDER_ID</key>
	<string>325735986053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shanghai.restaurant</string>
	<key>PROJECT_ID</key>
	<string>shanghai-82239</string>
	<key>STORAGE_BUCKET</key>
	<string>shanghai-82239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325735986053:ios:520dff30cc808c5cbe0aec</string>
</dict>
</plist>